.Profile {
  background: #ffffff;
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.03);
  border-radius: 24px;
  max-width: 1480px;
  height: 150px;
}

@media screen and (max-width: 1280px) {
  .Profile {
    height: auto;
  }
}

.ProfileMargin {
  margin-top: 29px;
}

.Profile__block {
  padding: 26px 45px 26px 50px;
  display: flex;
  height: 150px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1280px) {
  .Profile__block {
    flex-direction: column;
    height: auto;
  }
}

@media screen and (max-width: 1024px) {
  .Profile__block {
    padding: 20px 20px 26px 20px;
  }
}

.Profile__block-main {
  display: flex;
  flex-wrap: wrap;
  width: 830px;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

@media screen and (max-width: 1024px) {
  .Profile__block-main {
    width: 98%;
  }
}

@media screen and (max-width: 768px) {
  .Profile__block-main > img {
    width: 72px;
    height: 72px;
  }
}

@media screen and (max-width: 600px) {
  .Profile__block-main > img {
    margin-bottom: 20px;
  }
}

.Profile__block-include {
  display: flex;
  flex-direction: column;
  width: 200px;
}

@media screen and (max-width: 768px) {
  .Profile__block-include {
    width: 160px;
  }
}

@media screen and (max-width: 600px) {
  .Profile__block-include {
    margin-bottom: 20px;
  }
}

.Profile__block-big {
  display: flex;
  align-items: center;
}

.Profile__block-big > h3 {
  height: 37px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #000000;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .Profile__block-big > h3 {
    font-size: 22px;
  }
}

.Profile__block-include > h4 {
  width: 112px;
  height: 15px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 108.8%;
  color: #bbbbbb;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .Profile__block-big > h4 {
    font-size: 12px;
  }
}

.Profile__block-include > h5 {
  height: 27px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #b8b6b6;
  margin: 0;
}

.Profile__block-big > h6 {
  height: 24px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 108.8%;
  color: #000000;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .Profile__block-big > h6 {
    font-size: 16px;
  }
}

.Profile__block > button {
  justify-content: center;
  align-items: center;
  padding: 16px 49px;
  width: 242px;
  height: 49.9px;
  background: #ffd02f;
  border-radius: 3px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.005em;
  color: #000000;
  margin: 0px 10px;
  border: 0;
  cursor: pointer;
}

@media screen and (max-width: 1280px) {
  .Profile__block > button {
    margin-top: 20px;
  }
}

/***************************************/

.Profile2 {
  background: #ffffff;
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.03);
  border-radius: 24px;
  max-width: 1480px;
  height: auto;
}

.Profile__block2 {
  padding: 40px 53px 40px 54px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .Profile__block2 {
    padding: 18px 15px 18px 15px;
  }
}

.Profile__card {
  width: 324px;
  height: 97px;
  background: #f8fbff;
  border-radius: 15px;
  margin-bottom: 10px;
  padding: 22px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .Profile__card {
    width: 100%;
  }
}

.Profile__card-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.Profile__card-secondBlock {
  margin-left: 35px;
}

.Profile__card-secondBlock > h6 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 108.8%;
  color: #bbbbbb;
  margin: 0;
}

.Profile__card-secondBlock > h3 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 108.8%;
  color: #000000;
  margin: 0;
}
