.Events {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.03);
  border-radius: 14px;
  padding: 28px 102px 28px 40px;
  box-sizing: border-box;
}

@media screen and (max-width: 1330px) {
  .Events {
    padding: 20px 20px 20px 20px;
  }
}

@media screen and (max-width: 425px) {
  .Events {
    padding: 20px 15px 20px 15px;
  }
}

.Events > h3 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
  font-size: 29px;
  line-height: 36px;
  color: #000000;
  text-align: start;
  margin-bottom: 0;
  padding-bottom: 12px;
}

.Events__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: start;
  align-items: center;
  height: 65px;
  margin-top: 12px;
}

@media screen and (max-width: 1280px) {
  .Events__list {
    height: auto;
  }
}

.Events__list > img {
  width: 123px;
  height: 64px;
}

@media screen and (max-width: 425px) {
  .Events__list > img {
    width: 118px;
    height: 74px;
  }
}

.Events__list > h5 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 108.8%;
  text-align: center;
  color: #000000;
  width: 185px;
  height: 31px;
  background: #fff1c2;
  border-radius: 54px;
  align-items: center;
  margin: 0;
  padding-top: 6px;
}

@media screen and (max-width: 599px) {
  .Events__list > h5 {
    margin-top: 12px;
  }
}

.width {
  width: 130px;
  align-items: center;
}

.width-big {
  width: 205px;
  align-items: center;
}

@media screen and (max-width: 425px) {
  .width-big {
    width: 197px;
  }
}

@media screen and (max-width: 320px) {
  .width-big {
    margin-top: 12px;
  }
}

@media screen and (max-width: 1200px) {
  .width {
    margin-top: 12px;
  }
}

.Events__lot > h6 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 108.8%;
  color: #bbbbbb;
  margin: 0;
}

.Events__lot > h3 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 108.8%;
  color: #000000;
  margin: 0;
}
hr {
  width: 100%;
  height: 0px;
  border: 2px solid #c9c9c9;
  margin-top: 12px;
}
