
.Card {
  background: #ffffff;
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  height: 411px;
  width: 351px;
  padding: 37px 25px 0px 25px;
  margin: 0;
  text-align: start;
  box-sizing: border-box;
}

@media screen and (max-width: 375px) {
  .Card {
    width: 100%;
  }
}

.Card > h4 {
  margin: 30px 0px 17px 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.Card > span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}
