.MainCabinet__wrapper {
  max-width: 1480px;
  margin: 0 auto;
}

@media screen and (max-width: 1500px) {
  .MainCabinet__wrapper {
    width: 95%;
  }
}

.MarginTop30 {
    margin-top: 30px;
}


.MarginBottom20 {
  margin-bottom: 20px;
}

.MainCabinet__block {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1530px) {
  .MainCabinet__block {
    flex-direction: column-reverse;
  }
}
