.BringMoney {
  position: fixed;
  width: 679px;
  height: 234px;
  background: #ffffff;
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.03);
  border-radius: 24px;
  padding: 24px 33px 35px 38px;
  text-align: left;
  box-sizing: border-box;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}

.BringMoneyNone {
  display: none;
}


@media screen and (max-width: 680px) {
  .BringMoney {
    width: 95%;
    height: auto;
    padding: 24px 15px 35px 15px;
  }
}

.BringMoney > button {
  border: 0;
  background: white;
  position: absolute;
  right: 33px;
}

@media screen and (max-width: 550px) {
  .BringMoney > button {
    right: 15px;
  }
}

img {
  cursor: pointer;
}

.BringMoney > h3 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 36px;
  color: #000000;
  margin: 0px 0px 12px 0px;
}

.BringMoney > h5 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 109%;
  color: #000000;
  margin: 0;
}

.marginButton {
  margin-top: 34px;
  width: 380px;
}

.buttonsBlock {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 550px) {
  .buttonsBlock {
    flex-direction: column;
    width: 100%;
  }
}

.buttonsBlock > button {
  width: 180px;
  height: 50px;
  border-radius: 3px;
  border: 0;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.005em;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .buttonsBlock > button {
    width: 100%;
  }
}

.buttonsBlock > button:first-child {
  background: #ffdb5e;
  margin-bottom: 10px;
}

.buttonsBlock > button:last-child {
  background: #ebebeb;
}
