.Password {
  position: fixed;
  width: 679px;
  height: 466px;
  background: #ffffff;
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.03);
  border-radius: 24px;
  padding: 24px 33px 35px 38px;
  text-align: left;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.PasswordNone {
  display: none;
}

@media screen and (max-width: 680px) {
  .Password {
    width: 95%;
    height: auto;
    padding: 24px 15px 35px 15px;
  }
}

.Password__buttonCross {
  border: 0;
  background: white;
  position: absolute;
  right: 33px;
}

@media screen and (max-width: 550px) {
  .Password__buttonCross {
    right: 15px;
  }
}

img {
  cursor: pointer;
}

.Password > h3 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 36px;
  color: #000000;
  margin: 0px;
}

.Password__form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.Form__block {
  display: flex;
  flex-direction: column;
}

.Form__block > h6 {
  width: 144px;
  height: 23px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #9d9d9d;
  margin: 0 0 18px 0;
}

.Form__block > input {
  width: 100%;
  height: 55px;
  background: #ffffff;
  border: 1.4px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 0;
  padding: 20px 0px 20px 20px;
}

.Password__saveButton {
  justify-content: center;
  align-items: center;
  padding: 16px 49px;
  width: 242px;
  height: 50px;
  background: #ffd02f;
  border-radius: 3px;
  cursor: pointer;
  border: 0;
  margin-top: 30px;
}

@media screen and (max-width: 425px) {
  .Password__saveButton {
    width: 100%;
  }
}
