.Calm {
  margin-top: 120px;
  background-image: url(../../assets/images/footer-background1920.png);
  width: 100%;
  height: 366px;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1440px) {
  .Calm {
    background-image: url(../../assets/images/footer-background1440.png);
    height: 287px;
  }
}

@media screen and (max-width: 500px) {
  .Calm {
    background-image: url(../../assets/images/footer-background500.png);
    height: 460px;
  }
}
/*
@media screen and (max-width: 425px) {
  .Calm {
    background-image: url(../../assets/images/footer-background425.png);
    height: 460px;
  }
}
*/
.Calm__wrapper {
  padding-top: 84px;
  padding-left: 23%;
  margin: 0;
  text-align: left;
}

@media screen and (max-width: 1440px) {
  .Calm__wrapper {
    padding-top: 55px;
  }
}

@media screen and (max-width: 1024px) {
  .Calm__wrapper {
    padding-top: 66px;
    padding-left: 15%;
  }
}

@media screen and (max-width: 768px) {
  .Calm__wrapper {
    padding-left: 10%;
    width: 85%;
  }
}

@media screen and (max-width: 500px) {
  .Calm__wrapper {
    padding-top: 66px;
    padding-left: 0;
    width: 90%;
    margin: 0 auto;
  }
}

.Calm__wrapper > h3 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 108.8%;
  color: #ffffff;
  width: 626px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .Calm__wrapper > h3 {
    font-size: 35px;
    line-height: 40px;
    width: 100%;
  }
}

form {
  margin-top: 34px;
  display: flex;
}

@media screen and (max-width: 500px) {
  form {
    flex-direction: column;
  }
}

form > input {
  width: 365px;
  height: 60px;
  box-sizing: border-box;
  margin-right: 20px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  font-size: 18.8802px;
  line-height: 22px;
  color: #bdbdbd;
}

@media screen and (max-width: 768px) {
  form > input {
    height: 47px;
  }
}

@media screen and (max-width: 500px) {
  form > input {
    width: 100%;
    margin-bottom: 25px;
  }
}

form > button {
  width: 273px;
  height: 60px;
  background: #ffd02f;
  border-radius: 4.5px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 23.9673px;
  line-height: 28px;
  letter-spacing: 0.005em;
  color: #060138;
  margin: 0px 15px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  form > button {
    height: 47px;
  }
}

@media screen and (max-width: 500px) {
  form > button {
    width: 100%;
    margin: 0;
  }
}
