.Header {
  display: flex;
  background: #111111;
  opacity: 0.8;
  backdrop-filter: blur(59px);
  height: 94px;
  align-items: center;
}

@media screen and (max-width: 425px) {
  .Header {
    height: 73px;
  }
}

.Header__main {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1475px;
}

@media screen and (max-width: 1600px) {
  .Header__main {
    width: 95%;
  }
}

.Header__user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

@media screen and (max-width: 425px) {
  .Header__user {
    width: 35px;
  }
}

@media screen and (max-width: 425px) {
  .Header__user-img {
    width: 32px;
  }
}

.Header__user > span {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 108.8%;
  color: #ffffff;
}

@media screen and (max-width: 425px) {
  .Header__user > span {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .Header__user-check {
    display: none;
  }
}
