.Headline {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
  font-size: 29px;
  line-height: 36px;
  color: #000000;
  text-align: start;
}

.AboutLot {
  background: #ffffff;
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.03);
  border-radius: 24px;
  padding: 25px 88px 25px 40px;
  max-width: 1480px;
  box-sizing: border-box;
  list-style-type: none;
  margin: 0 auto;
}

@media screen and (max-width: 1500px) {
  .AboutLot {
    padding: 20px;
    width: 95%;
  }
}

.AboutLot__headline {
  margin-top: 28px;
  width: 120px;
}

.AboutLot__headline > h5 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 109%;
  color: #bbbbbb;
  margin: 0;
}

/************slider************************************/
.AboutLot__slider {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
  position: relative;
  width: 95%;
}

.AboutLot__slider > img:first-child {
  max-width: 361px;
  height: 185px;
}

.AboutLot__slider > img:nth-child(n + 2) {
  max-width: 328px;
  height: 153px;
}

.AboutLot__slider > div {
  max-width: 328px;
  height: 153px;
  background: #f8f8f8;
  padding: 35px 0px 28px 0px;
  box-sizing: border-box;
}

.AboutLot__slider > div > h5 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 109%;
  text-align: center;
  color: #707070;
  margin: 0;
}

.btn1 {
  position: absolute;
  border: 0;
  top: 40%;
  left: -20px;
  background: none;
}

.btn2 {
  position: absolute;
  border: 0;
  top: 30%;
  right: -20px;
  background: none;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/********************************/

.wrapperBlock {
  width: 90%;
}

@media screen and (max-width: 1550px) {
  .wrapperBlock {
    width: 100%;
  }
}

.AboutLot__description {
  display: flex;
  justify-content: space-between;
  margin-top: 38px;
  width: 1296px;
}

@media screen and (max-width: 1550px) {
  .AboutLot__description {
    flex-direction: column;
    width: 100%;
  }
}

.AboutLot__description-left {
  width: 48%;
}

@media screen and (max-width: 1550px) {
  .AboutLot__description-left {
    width: 100%;
  }
}

.description-block {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .description-block {
    flex-direction: column;
  }
}

.block-about {
  width: 260px;
  text-align: start;
}

@media screen and (max-width: 768px) {
  .block-about {
    width: 100%;
    margin-top: 15px;
  }
}

.block-about > h4 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 109%;
  color: #bbbbbb;
  margin: 0;
}

.block-about > h3 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 109%;
  color: #000000;
  margin: 6px 0px 0px;
}

.about-hr {
  width: 100%;
  margin: 5px 0px 0px;
  border: 1px solid #8d8d8d;
}

@media screen and (max-width: 768px) {
  .about-hr {
    width: 90%;
  }
}

.block-description-block {
  display: flex;
  align-items: center;
}

.block-description-block > h4 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 109%;
  color: #bbbbbb;
  margin: 0px 10px 0px 0px;
}

.block-description-block > img {
  width: 12px;
  height: 12px;
}

.left-block-description {
  margin-top: 33px;
}

.left-block-description > h6 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 109%;
  color: #000000;
  text-align: start;
  margin: 6px 0px 0px;
}

.AboutLot__description-right {
  width: 48%;
}

@media screen and (max-width: 1550px) {
  .AboutLot__description-right {
    width: 100%;
    margin-top: 50px;
  }
}

.right-block-about {
  width: 100%;
  text-align: start;
  margin-top: 33px;
}

.right-block-about > h4 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 109%;
  color: #bbbbbb;
  margin: 0;
}

.right-block-about > h3 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 109%;
  color: #000000;
  margin: 6px 0px 0px;
}

/**************capital************************/

.AboutLot__capital {
  background: #ffffff;
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.03);
  border-radius: 24px;
  padding: 25px 88px 25px 40px;
  max-width: 1480px;
  box-sizing: border-box;
  list-style-type: none;
  margin: 47px auto;
}

@media screen and (max-width: 1550px) {
  .AboutLot__capital {
    padding: 20px;
    width: 95%;
  }
}

.AboutLot__capital-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 34px;
}

@media screen and (max-width: 620px) {
  .AboutLot__capital-block {
    flex-direction: column;
  }
}

.AboutLot__capital-block > h3 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
  font-size: 29px;
  line-height: 36px;
  color: #000000;
  text-align: left;
  margin: 0;
}

.wrapperBlock {
  margin: 55px 0px 0px 0px;
}

.wrapperBlock > h3 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
  font-size: 29px;
  line-height: 36px;
  color: #000000;
  text-align: left;
}

.AboutLot__capital-block > button {
  width: 266px;
  height: 55px;
  background: #ffd02f;
  border-radius: 3px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.005em;
  color: #000000;
  margin: 0px 10px;
  border: 0;
  cursor: pointer;
}

@media screen and (max-width: 620px) {
  .AboutLot__capital-block > button {
    width: 100%;
    margin: 10px 0;
  }
}

.AboutLot__capital-about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/******************************************/

.AboutLot__sale {
  background: #ffffff;
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.03);
  border-radius: 24px;
  padding: 25px 88px 25px 40px;
  max-width: 1480px;
  box-sizing: border-box;
  list-style-type: none;
  margin: 0 auto;
}

@media screen and (max-width: 1550px) {
  .AboutLot__sale {
    width: 95%;
    padding: 20px;
  }
}

.AboutLot__sale-block {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .AboutLot__sale-block {
    flex-direction: column;
  }
}

.AboutLot__sale-blocks {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1550px) {
  .AboutLot__sale-blocks {
    flex-direction: column;
  }
}

.AboutLot__sale-left {
  width: 48%;
}

@media screen and (max-width: 1550px) {
  .AboutLot__sale-left {
    width: 48%;
  }
}

.AboutLot__sale-right {
  width: 48%;
}

@media screen and (max-width: 1550px) {
  .AboutLot__sale-left {
    width: 100%;
  }
}

@media screen and (max-width: 1550px) {
  .AboutLot__sale-right {
    width: 100%;
  }
}


/********************************/
.block-about {
}

.block-about-bottom {
  width: 100%;
  text-align: start;
  margin-top: 20px;
}

.block-about-bottom > h4 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 109%;
  color: #bbbbbb;
  margin: 0 0 10px 0;
}

.block-about-bottom > h3 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 109%;
  color: #000000;
  margin: 0;
}


.AboutUser__headline {
  margin-top: 28px;
}