
.Lots__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .Lots__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: start;
    align-items: center;
    height: 65px;
    margin-top: 12px;
    width: 920px;
  }
  
  @media screen and (max-width: 1438px) {
    .Lots__list {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 1280px) {
    .Lots__list {
      height: auto;
    }
  }
  
  .Lots__list > img {
    width: 123px;
    height: 64px;
  }
  
  @media screen and (max-width: 425px) {
    .Lots__list > img {
      width: 118px;
      height: 74px;
    }
  }
  
  .Lots__list > h5 {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 108.8%;
    text-align: center;
    color: #000000;
    width: 185px;
    height: 31px;
    background: #fff1c2;
    border-radius: 54px;
    align-items: center;
    margin: 0;
    padding-top: 6px;
  }
  
  @media screen and (max-width: 599px) {
    .Lots__list > h5 {
      margin-top: 12px;
    }
  }
  
  .width {
    width: 130px;
    align-items: center;
  }
  
  .width-big {
    width: 205px;
    align-items: center;
  }
  
  @media screen and (max-width: 425px) {
    .width-big {
      width: 197px;
      margin-top: 20px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .width-big {
      margin-top: 12px;
    }
  }
  
  @media screen and (max-width: 1200px) {
    .width {
      margin-top: 12px;
    }
  }
  
  .Lots__lot > h6 {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 108.8%;
    color: #bbbbbb;
    margin: 0;
  }
  
  .Lots__lot > h3 {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 108.8%;
    color: #000000;
    margin: 0;
  }
  hr {
    width: 100%;
    height: 0px;
    border: 2px solid #c9c9c9;
    margin-top: 12px;
  }
  
  .Lots-card-buttonsBlock {
    display: flex;
    justify-content: space-between;
  }
  
  @media screen and (max-width: 1438px) {
    .Lots-card-buttonsBlock {
      margin: 27px auto;
    }
  }
  
  
  
  .Lots-card-buttonsBlock {
    width: 305px;
    justify-content: space-between;
  }
  
  
  .Lots-card-block > h4 {
    margin: 0;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 108.8%;
    color: #bbbbbb;
    text-align: start;
  }
  
  @media screen and (max-width: 374px) {
    .Lots-card-block > h4 {
      font-size: 12px;
    }
  }
  
  
  .Lots-card-block > h5 {
    margin: 0;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 108.8%;
    color: #000000;
    text-align: left;
  }
  
  
  @media screen and (max-width: 374px) {
    .Lots-card-block > h5 {
      font-size: 18px;
    }
  }
  
  
  .Lots-card-buttonsBlock {
    display: flex;
    justify-content: space-between;
  }
  
  @media screen and (max-width: 1200px) {
    .Lots-card-buttonsBlock {
      margin-top: 10px;
    }
  }
  
  @media screen and (max-width: 425px) {
    .Lots-card-buttonsBlock {
      flex-direction: column;
      width: 100%;
    }
  }
  
  .Lots-card-buttonsBlock > button {
    width: 142px;
    height: 40px;
    background: #fff2c5;
    border-radius: 3px;
    border: 0;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.005em;
    color: #6f6f6f;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  @media screen and (max-width: 425px) {
    .Lots-card-buttonsBlock > button {
      width: 100%;
      margin-bottom: 15px;
    }
  }