.slider-margin {
  margin-top: 68px;
}

@media screen and (max-width: 768px) {
  .slider-margin {
    margin-top: 33px;
  }
}


.Slider {
  display: grid;
  gap: 29px;
  grid-template-columns: 474px 474px 474px;
  width: 1480px;
}

@media screen and (max-width: 1550px) {
  .Slider {
    width: 1036px;
    grid-template-columns: 326px 326px 326px;
  }
}

@media screen and (max-width: 1100px) {
  .Slider {
    width: 326px;
    grid-template-columns: 326px;
  }
}

@media screen and (max-width: 375px) {
  .Slider {
    width: 326px;
  }
}

@media screen and (max-width: 320px) {
  .Slider {
    width: 300px;
  }
}
