.Footer {
    background: #1B1B1B;
    backdrop-filter: blur(59px);
    display: flex;
    height: 94px;
    align-items: center;
}

@media screen and (max-width: 425px) {
    .Footer {
     height: 64px;
    }
}

.Footer > div {
    margin: 0 auto;
}

