.headline {
  margin-top: 256px;
  width: 590px;
  text-align: left;
  padding-left: 212px;
}

@media screen and (max-width: 1440px) {
    .headline {
        margin-top: 150px;
        padding-left: 100px;
    }
}

@media screen and (max-width: 1024px) {
    .headline {
        margin-top: 50px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 768px) {
    .headline {
        margin-top: 70px;
        padding-left: 40px;
        width: 50%;
    }
}

@media screen and (max-width: 446px) {
    .headline {
        width: 90%;
    }
}

@media screen and (max-width: 425px) {
    .headline {
        margin-top: 460px;
        padding-left: 20px;
        width: 300px;
    }
}

.headline > h1 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
  font-size: 65px;
  line-height: 80px;
  text-transform: capitalize;
  color: #ffffff;
  margin: 0;
}

@media screen and (max-width: 768px) {
    .headline > h1 {
        font-size: 35px;
        line-height: 43px;
    }
}


.headline > h3 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #ffffff;
  margin: 18px 0px 68px 0px;
}

@media screen and (max-width: 768px) {
    .headline > h3 {
        font-size: 16px;
        line-height: 19px;
        margin: 18px 0px 30px 0px;
    }
}


.headline__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 415px;
}

@media screen and (max-width: 500px) {
    .headline__block {
     width: 95%;
    }
}


.headline__block > button {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.005em;
  color: #060138;
  margin: 0px 15px 0px 0px;
  background: #ffd02f;
  border-radius: 5px;
  width: 219px;
  height: 60px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
    .headline__block > button {
     width: 163px;
     height: 44px;
     font-size: 18px;
     line-height: 21px;
    }
}

.headline__block > a {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-size: 23.9673px;
  line-height: 28px;
  letter-spacing: 0.005em;
  color: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
    .headline__block > a {
        font-size: 18px;
        line-height: 21px;
    }
}