@import url(./vendor/normalize.css);


.App {
  text-align: center;
}

.image {
  background-image: url(./assets/images/main-logo1920.png);
  width: 100%;
  height: 1040px;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1440px) {
  .image {
    background-image: url(./assets/images/main-logo1440.png);
    height: 780px;
    
  }
}

@media screen and (max-width: 1024px) {
  .image {
    background-image: url(./assets/images/main-logo1024.png);
    height: 555px;
  }
}

@media screen and (max-width: 768px) {
  .image {
    background-image: url(./assets/images/main-logo768.png);
    height: auto;
  }
}

@media screen and (max-width: 425px) {
  .image {
    background-image: url(./assets/images/main-logo425.png);
  }
}

.Cabinet {
  background: #e5e5e5;
}

.marginTop63 {
  margin: 63px 0px 0px 0px;
}

.marginTop70 {
  margin-top: 70px;
}

@media screen and (max-width: 768px) {
  .marginTop70 {
    margin-top: 40px;
  }
}

.MarginTop80 {
  margin-top: 80px;
}

@media screen and (max-width: 768px) {
  .MarginTop80 {
    margin-top: 50px;
  }
}


.MarginTop90 {
  margin-top: 90px;
}

@media screen and (max-width: 768px) {
  .MarginTop90 {
    margin-top: 60px;
  }
}

.marginTop500 {
  margin-top: 500px;
}

.PaddingTop150 {
  padding-top: 150px;
}

@media screen and (max-width: 768px) {
    .PaddingTop150 {
        padding-top: 50px;
    }
}



.Background-wrapper {
  background: #e5e5e5;
}

.wrapper {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0px 10px 0px 10px;

}

/*нотификация*/
.notification {
  position: relative;
}

.notification:hover::after {
  content: attr(data-name);
  position: absolute;
  width: 229px;
  height: 85px;
  top: 30px;
  left: 130px;
  background: #c4c4c4;
  border-radius: 9px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 104.3%;
  letter-spacing: 0.05em;
  color: #ffffff;
  background: #C4C4C4;
  padding: 15px;
}

@media screen and (max-width: 768px) {
  .notification:hover::after {
    left: 10%;
  }
}

@media screen and (max-width: 500px) {
  .notification:hover::after {
    left: -50%;
  }
}

@media screen and (max-width: 344px) {
  .notification:hover::after {
    left: 0%;
  }
}