.Transaction {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  margin: 180px auto 0;
}

@media screen and (max-width: 1550px) {
  .Transaction {
    width: 1107px;
  }
}

@media screen and (max-width: 1150px) {
  .Transaction {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .Transaction {
    margin: 60px auto 0;
  }
}

@media screen and (max-width: 425px) {
  .Transaction {
    width: 95%;
  }
}


@media screen and (max-width: 375px) {
  .Transaction {
    width: 100%;
  }
}

.Transaction__headline {
  display: flex;
  width: 1480px;
  margin-bottom: 68px;
}

@media screen and (max-width: 1550px) {
  .Transaction__headline {
    width: 100%;
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .Transaction__headline {
    width: 95%;
  }
}

.Transaction__headline > h3 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
  font-size: 65px;
  line-height: 71px;
  color: #000000;
  margin: 0;
  width: 500px;
}

@media screen and (max-width: 1550px) {
  .Transaction__headline > h3 {
    font-size: 45px;
    line-height: 40px;
  }
}

@media screen and (max-width: 768px) {
  .Transaction__headline > h3 {
    font-size: 35px;
    width: 100%;
  }
}

.Transaction__hr {
  margin-left: 25px;
  margin-top: 30px;
  width: 65%;
  position: relative;
}

@media screen and (max-width: 1550px) {
  .Transaction__hr {
    margin-left: 0px;
    margin-top: 10px;
    width: 70%;
  }
}

@media screen and (max-width: 740px) {
  .Transaction__hr {
    margin-top: 10px;
    width: 60%;
  }
}

@media screen and (max-width: 767px) {
  .Transaction__hr {
display: none;
  }
}


.Transaction__hr-small {
  display: none;
}


@media screen and (max-width: 767px) {
  .Transaction__hr-small {
    display: block;
    width: 95%;
    margin-top: 55px;
  }
}
