.Cabinet {
  display: flex;
  align-items: center;
  height: 75px;
  background: #ffffff;
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.03);
  border-radius: 24px;
  padding-left: 32px;
  max-width: 1480px;
  box-sizing: border-box;
  list-style-type: none
}

@media screen and (max-width: 333px) {
  .Cabinet {
    padding-left: 0px;
  }
}

.Cabinet__block {
  width: 150px;
  margin-right: 60px;
}

.Cabinet__block .active {
  border-bottom: 4px solid #FFD02F;
  padding-bottom: 18px;
}

@media screen and (max-width: 670px) {
  .Cabinet__block {
    margin-right: 25px;
  }
}

@media screen and (max-width: 570px) {
  .Cabinet__block {
    width: 120px;
  }
}

@media screen and (max-width: 425px) {
  .Cabinet__block {
    width: 95px;
  }
}

@media screen and (max-width: 375px) {
  .Cabinet__block {
    margin-right: 5px;
  }
}

.Cabinet__block > img {
  height: 19px;
}

@media screen and (max-width: 425px) {
  .Cabinet__block > img {
    height: 10px;
  }
}

.Cabinet__block > a {
  width: 103px;
  height: 25px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  color: #ffd02f;
  margin-left: 11px;
  text-decoration: none;
}

@media screen and (max-width: 570px) {
  .Cabinet__block > a {
    font-size: 16px;
  }
}
